/* CSS code by PacMan, Aggggsu for example site. */

p {
    margin-bottom: 17px;
    font-size: 23px;
    color: darkgreen;
}



h3 {
	font-size: 20px;
    color: darkgreen;
}


}
li {
     color: darkgreen;
}

a {
    color: darkgreen;
}

h1 {
      color: darkgreen;
}

h2 {
      color: darkgreen;
}

h4 {
      color: darkgreen;
}

body {
    background-image: url("https://newsroom.siliconslopes.com/content/images/2018/10/code.jpg");
}

#ffff {
    background-color: slategray;
    opacity: 89%;
    border-radius: 15px;
}

#Zoo {
        color: black;
}

.blockmain {
    background: #6d706d;
    opacity: 89%;
    border-radius: 15px;
}

.blogb {
    width: 1000px;
    height: 950px;
    background: #6d706d;
    opacity: 90%;
    text-align: center;
    border-radius: 15px;
}

.imagesb {
    float: left;
}